/Modulo1_Introducao-programacao-I/01_helloWorld/nbproject/private/
/Modulo1_Introducao-programacao-I/01_helloWorld/build/
/Modulo1_Introducao-programacao-I/ex01_melhorandoHelloWorld/nbproject/private/
/Modulo1_Introducao-programacao-I/ex01_melhorandoHelloWorld/build/
/Modulo1_Introducao-programacao-I/ex02_a-arvore/nbproject/private/
/Modulo1_Introducao-programacao-I/ex02_a-arvore/build/
/Modulo1_Introducao-programacao-I/Licao04/declaraVariaveis/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/declaraVariaveis/build/
/Modulo1_Introducao-programacao-I/Licao04/exibirVariaveis/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/exibirVariaveis/build/
/Modulo1_Introducao-programacao-I/Licao04/1000/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/1000/build/
/Modulo1_Introducao-programacao-I/Licao04/operadoresAritmeticos/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/operadoresAritmeticos/build/
/Modulo1_Introducao-programacao-I/Licao04/operadoresRelacionais/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/operadoresRelacionais/build/
/Modulo1_Introducao-programacao-I/Licao04/operadoresLogicosE/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/operadoresLogicosE/build/
/Modulo1_Introducao-programacao-I/Licao04/operadoresLogicosOU/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/operadoresLogicosOU/build/
/Modulo1_Introducao-programacao-I/Licao04/operadoresLogicosXOR/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/operadoresLogicosXOR/build/
/Modulo1_Introducao-programacao-I/Licao04/operadoresLogicosNOT/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/operadoresLogicosNOT/build/
/Modulo1_Introducao-programacao-I/Licao04/operadorCondicionalTERNARIO/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/operadorCondicionalTERNARIO/build/
/Modulo1_Introducao-programacao-I/Licao04/operadorCondicionalTERNARIO2/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/operadorCondicionalTERNARIO2/build/
/Modulo1_Introducao-programacao-I/Licao04/ex01_declarar-mostrar-variaveis/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/ex01_declarar-mostrar-variaveis/build/
/Modulo1_Introducao-programacao-I/Licao04/ex02_media-tres-valores/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/ex02_media-tres-valores/build/
/Modulo1_Introducao-programacao-I/Licao04/ex03_maior-valor/nbproject/private/
/Modulo1_Introducao-programacao-I/Licao04/ex03_maior-valor/build/
